/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    width: 90%;
    margin-top: 10px;
    max-width: 300px;
    background-color: #1b2028;
    border-radius: 16px;
    position: relative;
    border: 3px solid transparent;
    background-clip: padding-box;
    text-align: center;
    color: #f1f3f3;
    background-image: linear-gradient(135deg,rgba(117, 46, 124, 0.35), rgba(115, 74, 88, 0.1)
    15%, #1b2028 20%, #1b2028 100%);
}

.card-image > img {
    width: 150px;
    border-radius: 50%;
}

.title {
    padding-top: 10px;
}

.title > h2 {
    font-family: 'Montserrat', sans-serif
}  

.title > h2::first-letter {
    color: yellow;
    font-size: 30px;
}

.title > span {
    color: #7d8396;
}

.btn > button {
    font-family: 'Montserrat', sans-serif;
    background-color: #3372ff;
    border: 1px solid #3372ff;
    border-radius: 99em;
    padding: 18px 30px 18px 30px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    -webkit-box-shadow: -1px 26px 31px 0px rgb(51 114 255 / 66%);
    -moz-box-shadow: -1px 26px 31px 0px rgba(51,114,255,0.66);
    margin-top: 60px;
    box-shadow: -1px 26px 31px -11px rgb(51 114 255 / 66%);
    -webkit-box-shadow: -1px 26px 31px -11px rgb(51 114 255 / 66%);
    -moz-box-shadow: -1px 26px 31px -11px rgba(51,114,255,0.66);    
    transition: 1s;
}

.btn > button:hover {
    transition: 1s;
    color: #3372ff;
    border: 1px solid yellow;
    background-color: yellow;
    box-shadow: -4px 4px 22px 0px rgba(255,255,0,0.74);
    -webkit-box-shadow: -4px 4px 22px 0px rgba(255,255,0,0.74);
    -moz-box-shadow: -4px 4px 22px 0px rgba(255,255,0,0.74);
    font-size: 19px;
}


li {
    list-style: none;
}

.contact-links {
    display: none;
}

.contact-links > ul > li > a > img{
    width: 30px;
}

.contact-links > ul {
    display: flex;
    padding: 30px 30px 0px 30px;
}

.contact-links > ul > li {
    padding-left: 5px;
}

@media only screen and (max-width: 400px) {
   .content {
    width: 60%;
    height: 30%;
   }
   .btn > button:hover {
    font-size: 18px;
   }
}


@media only screen and (max-width: 500px) {
    .content {
        width: 55%;
    }
    .btn > button {
        padding: 15px;
    }
}

@media only screen and (min-width: 540px){
    .content {
        width: 40%;
    }
}   


@media only screen and (max-width: 820px) {
    .content {
        padding: 20%
    }
    .card-image > img {
        width: 65%;
    }
    .title > h2 {
        font-size: 35px;
    }
    .title > h2::first-letter {
        color: yellow;
        font-size: 50px;
    }
    .title > span {
        font-size: 25px;
    }
    .btn > button {
        padding: 20px 40px 20px 40px;
        font-size: 24px;
    }
    .contact-links > ul > li > a > img{
        width: 40px;
    }
};  

